body {	
	background-color: #1E1D22;
	color: #FFFFFF;
}

.wrapper{
	max-width: 960px;
	max-height: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 30px 30px 30px;
	background: linear-gradient(to bottom, #10a6f1 0%,#1e528e 100%);
	border-radius: 25px;
}

img{
	width: 400px;
	height: 400px;
}

.icon img{
	margin-left: auto;
	margin-right: auto;
}

.degree{
	float: right;
	padding-right: 300px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 50px;
	font-size: 62px;
}

.location{
	text-align: right;
	padding-right: 130px;
	font-size: 62px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.degree h1{
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	padding-right: 300px;
	padding-top: 50px;
}

.location h2{
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.searchBar input[type=text] {
	padding: 10px;
	border-radius: 25px;
	margin-right: 16px;
	font-size: 16px;
}

.dateTime{
	text-align: left;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.dateTime h2{
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

button{
	display: none;
}